<div class="webBody">
    <header class="header">
        <div class="menu-perfil">
            <div class="menu-img">
                <img src="../../../assets/menu-perfil.png" alt="">
            </div>
            <label class="menu-nome">Jhonatan Mariano Vago</label>
            <br>
            <br>
            <div class="menu-redes-sociais">
                <div (click)="goLinkedin()">
                    <img src="../../../assets/icons/linkedin.svg" href="https://www.linkedin.com/in/jhonatanvago/"
                        alt="">
                </div>
                <div (click)="goGitHub()">
                    <img src="../../../assets/icons/github.svg" alt="">
                </div>
            </div>
        </div>
        <div class="menu-option">
            <div class="option-home">
                <img src="../../../assets/icons/home.svg" alt="">
                <label>Home</label>
            </div>
            <div class="option-About">
                <img src="../../../assets/icons/about.svg" alt="">
                <label>About</label>
            </div>
            <div class="option-Projects">
                <img src="../../../assets/icons/projects.svg" alt="">
                <label>Projects</label>
            </div>
            <div class="option-Contacts">
                <img src="../../../assets/icons/contact.svg" alt="">
                <label>Contacts</label>
            </div>
        </div>
    </header>
    <div class="linha-menu-option" ></div>
    <div class="session-home">
        <h1>Jhonatan Mariano Vago</h1>
        <p>I'm <span class="texto"></span></p>
    </div>
</div>